<template name="home">
    <div class="jumbotron">
        <div class="container">
          <h1>Saluki Bar n' Grill</h1>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quae accusantium architecto aliquid asperiores totam, voluptatem voluptatum molestias et, magnam animi fugit. Aliquam, commodi, distinctio.</p>
        </div>
    </div>
    {{> featured}}
    {{> about}}
    {{> info}}
</template>