<template name="login">
  <div class="container mt">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form class="login_user">
          <div class="form-group">
            <label>Email</label>
            <input type="email" id="emal" name="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          </div>
          <button type="submit" name="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</template>
