<template name="menu">
      <section id="menuhead">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Saluki Bar 'n' Grill</h1>
            <h1 class="mb">Menu</h1>
          </div>
        </div>
      </div>
    </section>
    <section id="menu">
      <div id="menubar">
        <div class="col-md-12">
        <ul class="hidden-sm hidden-xs">
          <li><a href="#">Wings & Things</a></li>
          <li><a href="#">Soups, Salads, Wraps</a></li>
          <li><a href="#">Burgers & Grilled Cheese</a></li>
          <li><a href="#">Something</a></li>
          <li><a href="#">Something</a></li>
          <li><a href="#">Darkside</a></li>
        </ul>
        <div class="hidden-md hidden-lg">
          <div class="col-sm-6 col-sm-offset-3">
          <select name="" id="menuselect" class="form-control">
            <option value="Wings & Things">Wings & Things</option>
            <option value="Wings & Things">Wings & Things</option>
            <option value="Wings & Things">Wings & Things</option>
            <option value="Wings & Things">Wings & Things</option>
            <option value="Wings & Things">Wings & Things</option>
          </select>
          </div>
        </div>
      </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">{{category}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id iusto molestiae quidem sit vero facere!</p>
          </div>
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>{{itemDescription}}</p>
          </div>
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>{{itemDescription}}</p>
          </div>
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>{{itemDescription}}</p>
          </div>
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>{{itemDescription}}</p>
          </div>
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>{{itemDescription}}</p>
          </div>
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>{{itemDescription}}</p>
          </div>
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>{{itemDescription}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">{{category}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>{{itemDescription}}</p>
          </div>
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>{{itemDescription}}</p>
          </div>
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>{{itemDescription}}</p>
          </div>
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>{{itemDescription}}</p>
          </div>
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>{{itemDescription}}</p>
          </div>
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>{{itemDescription}}</p>
          </div>
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>{{itemDescription}}</p>
          </div>
          <div class="col-md-2 text-center">
            <h4>{{itemName}}</h4>
            <p>{{itemDescription}}</p>
          </div>
        </div>
      </div>
    </section>
</template>