@import url(https://fonts.googleapis.com/css?family=Audiowide|Roboto:400,700);
h1,
h2{
  font-family: "Audiowide", sans-serif;
}

h3{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
h4,
h5,
p{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body{
  background-color: #9f9f9f;
}


.navbar{
  background: rgba(0,0,0, 0.7);
  min-height: 50px;
  padding: 15px 10px 10px 15px;
  border: none;
}

.navbar-inverse .navbar-nav>li>a{
  color: #AB5050;
}

.navbar-inverse .navbar-brand{
  color: #AB5050;
}

li, .navbar-brand{
  font-size: 1.3em;
}

/*jumbotron*/

.jumbotron{
  height: 550px;
  background-image: url(https://images.unsplash.com/photo-1428660386617-8d277e7deaf2);
  background-size: cover;
  overflow: hidden;
  margin-bottom: 0;
}

.jumbotron h1, .jumbotron h3{
  color: #AB5050;
  text-align: center;
  margin-top: 140px;
}

.jumbotron p{
  color: #AB5050;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}
/*featured section*/
section#featured{
  background: #ccc;
  padding-top: 15px;
  background: rgba(191, 10, 10, 0.7);
}
section#featured h2{
  padding-bottom: 45px;
}

section#featured .thumbnail{
  background: transparent;
  border: none;
  padding-bottom: 25px;
}

/*about section*/
section#about{
  padding-top: 145px;
  height: 500px;
  background: white;
}
section#about h2{
  text-align: center;
}



/*info section*/
section#info{
  height: 450px;
  /*margin-bottom:  55px;*/
  background: url(https://images.unsplash.com/photo-1445140463371-d8036feedc2f) no-repeat center center;
  background-image: cover;
}
section#info h2{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 45px;
}

section#info h3{
  padding-bottom: 15px;
  text-align: center;
}

section#info p{
  text-align: center;
}

section#info h4{
  text-align: center;
}

/*footer*/
footer{
  height: auto;
  width: 100%
  margin: 30px;
  padding-top: 45px;
  padding-bottom: 20px;
}

  footer p{
    text-align: center;
  }

/*featured items section*/
.caption{
  text-align: center;
}


/*menu styles*/
section#menuhead{
  background: url(img/burger.jpg) no-repeat center center;
  height: auto;
  width:  100%;
  margin-top: 75px;

}
/*section#menuhead h1{

  margin-top: 150px;
}*/
section#menu{
  /*height: 550px;*/
  background: rgba(191, 10, 10, 0.7);
}
#menubar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menubar li{
  text-align: center;
  display: inline;
  padding: 10px 5px;
}

#menubar li a{
  color: #ccc;
}
#menuselect{
  padding-top: 20px;
}

#menuitems h2,
#menuitems p{
  text-align: center;
}

.mb{
  margin-bottom: 155px;
}

#menuselect{
  border: none;
  background: transparent;
  height: 45px;
  color: #ccc;
  font-size: 16px;
}

.mt{
  padding-top: 150px;
}