<template name="about">
    <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>About</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum molestiae quisquam earum consectetur labore eaque suscipit sit quo, adipisci similique quibusdam eveniet nesciunt natus possimus itaque, vitae ea nobis. Ad voluptatem laborum aut vitae placeat inventore nisi, officia delectus adipisci perspiciatis quod modi dolorum tenetur magni est iure eveniet dolore in aspernatur cupiditate autem sed!</p>
            </div>
          </div>
        </div>
      </section>
</template>