<template name="featured">
      <section id="featured">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center"><span class="glyphicon glyphicon-star"></span> Featured Items <span class="glyphicon glyphicon-star"></span></h2>
        </div>
      </div>


          <div class="row">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <img src="http://placehold.it/242x200" alt="...">
                <div class="caption">
                  <h3>{{name}}</h3>
                  <p>{{description}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <img src="http://placehold.it/242x200" alt="...">
                <div class="caption">
                  <h3>{{name}}</h3>
                  <p>{{description}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <img src="http://placehold.it/242x200" alt="...">
                <div class="caption">
                  <h3>{{name}}</h3>
                  <p>{{description}}</p>
                </div>
              </div>
            </div>
          </div>
    </section>
</template>