<template name="info">
    <section id="info">
      <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Contact Us Now!</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>Hours</h3>
        <h4>Lorem ipsum<small> lorem</small></h4>
        </div>
        <div class="col-md-4">
          <h3>Call</h3>
          <h4><a href="#">555-555-5555</a></h4>
        </div>
        <div class="col-md-4">
          <h3>Email</h3>
          <h4><a href="#">Email@whatever.com</a></h4>
        </div>
      </div>
    </div>
    </section>
</template>