<template name="add_item">

<div class="container mt">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <h2>Add New Category</h2>
      <form class="add_category">
        <div class="form-group">
          <input type="text" name="name" id="name" class="form-control" placeholder="Name Category">
          <input type="text" id="slug" name="slug" class="form-control" placeholder="Slug">
        </div>
        <button type="submit" class="btn btn-success btn-xs">Submit</button>
      </form>
    </div>
    <div class="col-md-4">
      <h2>Current Categories</h2>
      <ul>
        {{#each categories}}
          <li>{{name}} <a class="delete_cat">Delete</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Add Item</h2>
        <form class="add_item" enctype="multipart/form-data">
          <div class="form-group">
            <label>Item Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter Item Name">
          </div>
          <div class="form-group">
            <label>Category</label>
            <select name="category" class="form-control">
              <option value="0">--Select Category--</option>
              {{#each categories}}
                <option value="{{slug}}">{{name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea name="description" id="description" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Item Image</label>
            <input type="file" name="itemImage" id="itemImage">
          </div>
          <div class="form-group">
            <label>Featured</label>
            <input type="radio" name="is_featured" value="1">Yes
            <input type="radio" name="is_featured" value="0">No
          </div>
          <input type="submit" name="submit" class="btn btn-success" value="Add Item"><a href="/" class="btn btn-default">Close</a>
        </form>
      </div>
      </div>
    </div>
</template>
