<template name="edit_item">
  <div class="container mt">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form class="edit_item" enctype="multipart/form-data">
          <div class="form-group">
            <label>Item Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter Item Name" value="{{name}}">
          </div>
          <div class="form-group">
            <label>Category</label>
              <select name="category" class="form-control">
                <option value="0">--Select Category--</option>
                  {{#each categories}}
                      <option value="{{slug}}">{{name}}</option>
                  {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea name="description" id="description" class="form-control" value="{{description}}"></textarea>
          </div>
          <div class="form-group">
            <label>Featured</label>
            <input type="radio" name="is_featured" value="1">Yes
            <input type="radio" name="is_featured" value="0">No
          </div>
          <div class="form-group hidden">
            <label>Image</label>
            <input type="file" id="itemImage" name="itemImage">
          </div>
          <input type="submit" name="submit" class="btn btn-success" value="Add Item"><a href="/" class="btn btn-default">Close</a>
        </form>
      </div>
    </div>
  </div>
</template>
