<template name="items">
  <div class="container mt">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Current Items</h2>
        <a href="/admin/item/add" class="btn btn-primary">Add Item</a>
        <br><br>
        <table class="table table-striped">
          <tr>
            <th>Item Name</th>
            <th>Date Created</th>
            <th>Category</th>
            <th></th>
          </tr>
          {{#each items}}
            <tr>
              <td>{{name}}</td>
              <td>{{createdAt}}</td>
              <td>{{category}}</td>
              <td><a href="/admin/item/{{_id}}/edit" class="btn btn-warning btn-xs">Edit</a><button class="btn btn-danger btn-xs delete_item">Delete</button></td>
            </tr>
          {{else}}
            <p>There are no items, add some quick!</p>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</template>
